

* {font-family: 'Nunito', sans-serif;}

.main-header {
	background-image: url(images/header.png);
	/*background-repeat: no-repeat;
	overflow: visible;*/
    height: 120px;
    width: auto;
    font-size: 16px;
    /*margin-left: 16%;
	margin-right: 16%;*/
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

/*.main-header__logo {
	background-image: url("images/LOGO2.png");
	background-repeat: no-repeat;
	width: 160px;
	height: 80px;
}*/

@media (max-width: 768px) {
    .main-header {
    	display: block;
    }
}

.main__nav {
	position: absolute;
	right: 90px;
	font-weight: bold;
	color: black;
	font-size: 16px;
}

.main__nav > a:link {
	color: black;
	text-align: none;
	display: relative;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}


.main__nav > a:visited {
	color: black;
}

.main__nav > a:hover {
	overflow-x: 10px;
}

.main__nav > a:active {
	text-decoration: underline;
}

.nonactive-nav {
	text-decoration: none;
}

.main-header > ul {
	padding:0;
	margin:0;
	display: flex;
	list-style-type: none;
}
.main-header > ul > li {
	margin-left: 20px;
	display: block;
}
.main-header > ul > li > a{
	width: 24px;
	height: 24px;
 	font-size: 0px;
	display: block;
 	text-decoration: none;
}
