

.main-header {
    height: 120px;
    width: auto;
    /*margin-left: 16%;
	margin-right: 16%;*/
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.main-header__logo {
	position: relative;
}

.main__nav {
	position: absolute;
	right: 90px;
	font-weight: normal;
	font-size: 14px;
}

.main__nav > a {
	display: relative;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.main-header > ul {
	padding:0;
	margin:0;
	display: flex;
	list-style-type: none;
}
.main-header > ul > li {
	margin-left: 20px;
	display: block;
}
.main-header > ul > li > a{
	width: 24px;
	height: 24px;
 	font-size: 0px;
	display: block;
 	text-decoration: none;
}
