*,
*::before,
*::after {
	box-sizing: border-box;
}

* {font-family: 'Nunito', sans-serif;}


body {
	margin:0;
	padding: 0;
	font-size: 20px;
	line-height: 1.47em;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 28px;
}

h3	{
	font-size: 26px;
}

a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*.wrapper {
    max-width: 1400px;
    margin: auto;
    overflow: visible;
}*/

@media (max-width: 768px) {
    .main-header__logo img {
    	width: 100%;
    	height: auto;
    }
}

.front {
	margin: auto;
	/*position: relative;*/
	width: 1920px;
    height: 540px;
    /*overflow: visible;*/
	background-image: url("images/main.jpg");
}

@media (max-width: 768px) {
    .front {
    	display: block;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.main-header {
	display: flex;
	justify-content: center;
}

.main-content {
	display: flex;

}

.front__nav {
	max-width: 1400px;
    margin: auto;
	/*margin-left: 216px;
	margin-right: 216px;
	padding: 120px 84px 120px;*/
	display: flex;
	justify-content: space-between;

}

.front__nav a{
	margin-top: 120px;
	font-weight: normal;
	position: relative;
	display: flex;
	width: 194px;
	/*height: 194px;*/
	font-size: 28px;
	color: white;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
/*	transition: all 0.2s ease-in-out;*/
}
/*.front__nav a:hover {
    text-decoration: none;
    font-weight: bolder;
    text-shadow: black;
} */

.link-1 {
	background-image: url("images/firma.png");
	background-position: 0px 45px;
	height: 300px;
	clip-path: polygon(50% 8%, 78% 14%, 100% 29%, 100% 65%, 78% 88%, 24% 88%, 0 67%, 0 26%, 25% 0);
}

.link-2 {
	background-image: url("images/pulm.png");
	background-position: 10px 25px;
	height: 300px;
	clip-path: polygon(50% 0%, 85% 9%, 100% 29%, 100% 58%, 71% 84%, 33% 84%, 0 63%, 0 26%, 9% 0);
}

.link-3 {
	background-image: url("images/sunna.png");
	background-position: 0px 40px;
	height: 300px;
	clip-path: polygon(50% 8%, 78% 14%, 100% 29%, 100% 65%, 78% 88%, 24% 88%, 0 67%, 0 26%, 0 8%);
}

.link-4 {
	background-image: url("images/kodukokk.png");
	background-position: 0px 50px;
	height: 300px;
	clip-path: polygon(50% 8%, 78% 14%, 100% 29%, 100% 65%, 78% 88%, 24% 88%, 0 67%, 0 26%, 25% 0);
}

