* {font-family: 'Nunito', sans-serif;}


.main-content{
  justify-content: center;

}


/* Style the tab */
.tab {
    text-align: center;
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    height: 50px;
    width: 50px;
    background-position: center;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
    background-image: url("images/Circle.png");
    background-repeat: no-repeat;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    margin: 0px 0% 0px 15%;
}

.retsepttekst{
  float: left;
  width: 30%;
}

.retseptpilt{
  width: auto;

}

.retseptpilt img{
  width: auto;
  height: auto;
}
